services:
    docker-ap-rtsp:
        image: docker-ap-rtsp
        container_name: docker-ap-rtsp
        build: .
        cap_add:
            - NET_ADMIN
        env_file: rtsp.env
        ports:
            - 19800-19899:19800-19899
            - 55400-55499:55400-55499
        restart: always
        entrypoint:
            - /bin/wlanstart.sh

    wifi-attach:
        image: docker-ap-rtsp
        container_name: wifi-attach
        privileged: true
        network_mode: host
        pid: host
        depends_on:
            docker-ap-rtsp:
                condition: service_started
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - /var/run/docker/netns:/var/run/netns
        env_file: rtsp.env
        environment:
            TARGET_CONTAINER: docker-ap-rtsp
        user: root
        entrypoint:
            - /bin/wlanattach.sh
